h1 {
  text-align: center;
  font-size: 200%;
  padding-bottom: 20px;
}
.slide h1 {
  line-height: 60px;
}
h2 {
  text-align: center;
  font-size: 150%;
  line-height: 30px;
  padding-bottom: 20px;
}
ul {
  list-style: disc;
}
li {
  margin-left: 15px;
  padding-bottom: 10px;
}
code {
  font-family: monospace;
  font-size: 80%;
}
pre {
  padding: 25px;
  margin-left: 10px;
  border: 1px solid #111;
  border-radius: 10px;
  background: black;
  color: white;
}
h1 a {
  text-decoration: underline;
}
.note {
  padding: 30px;
  text-align: center;
  font-size: 60%;
}
.tiny {
  font-size: 40%;
}
.first h1 {
  padding: 30px;
}
.just_title h1 {
  padding-top: 50px;
  font-size: 300%;
  line-height: 100px;
  color: #333;
}
.subtitles h2 {
  padding-top: 50px;
}
.subtitles h2:first-child {
  padding-top: 0px;
}
.hidden_slide:not(.active) {
  opacity: 0.0;
  -webkit-transition: opacity .5s linear;
  -moz-transition:    opacity .5s;
  -ms-transition:     opacity .5s;
  -o-transition:      opacity .5s;
  transition:         opacity .5s;
}
.slide_number {
  display: none;
}
.slide .slide_number {
  display: block; /* only show on slide type slides */
  position: absolute;
  bottom: 0px;
  left: 5px;
  font-size: 50%;
}


